<!DOCTYPE html>
<html id="full">
  <head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="../static/about.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/africandelights/">Home</a></li>
          <li><a href="/africandelights/menu">Menu</a></li>
          <li><a href="/africandelights/contacts">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section id="about-section">
      <h1>About Us</h1>
      <p>We are a group of students Addressing Cultural Shock.</p>
        <p>Among African Tourists and Immigrants through a Recipe Directory App.</p>

      <button id="learn-more-button">Learn-more About us </button>
    </section>

    <section id="learn-more-section">
      <h2>More About us</h2>
      <p>At African delights, we understand that food does not just fuel the body - it's an essential part of our cultural identity and a source of comfort, joy, and connection.</p>
      <p> However, we also know that food preferences and expectations can vary widely between different cultures and communities.</p>
      <p>That's why we're dedicated to providing a truly diverse and inclusive dining experience where everyone can find something they love to eat.</p>
      <p> We work closely with local chefs, farmers, and producers to source the freshest, highest-quality ingredients, and we respect and honor different culinary traditions and practices.</p>
      <p>Food should bring people together at African delights, not create barriers or divisions. We want to share our love of food and culture with you and create a warm and welcoming community around the table.</p>
    </section>

    <script src="../static/about.js"></script>
  </body>
</html>

