<!-- DOCTYPE -->
<html lang en="en">

<link rel="stylesheet" href="about.css">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AFRICAN DELIGHTS</title>
    <meta name="description" content="African Delights helps improve the travel experience of African tourists and immigrants by addressing the cultural shock they face regarding cuisine.">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

    <!-- image in the root directory -->
    <link rel="shortcut icon" href="logo_image.jpg">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
    <!--Fonts-->

    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!--FontAwesome-->

    <link rel="stylesheet" href="../static/about.css">
    <!-- <link rel="stylesheet" href="../homepage.min.css"> -->
</head>

<body>
<header>
    <nav>
        <div class="logo">
          <img src="../static/images/logo_image.jpg" alt="AD Logo" width="40px" height="40px" position="relative" style="margin-top: -20; margin-right: 10px;">
        </div>
        
        <div class="navigation-bar">
            <ul>
                 <!-- <li class="active"><a href="index.html">Home<span class="underline"></span></a></li> -->
                 <li><a href="/africandelights/home">Home<span class="underline"></span></a></li>
                 <li><a href="/africandelights/menu">Menu<span class="underline"></span></a></li>
                 <li><a href="/africandelights/contacts">Contact<span class="underline"></span></a></li>
            </ul>
        </div>
    </nav>
    <div class="text">
        <h1 style="margin-top: -60px; margin-left: -150; font-size: 30;">About Us</h2>
        <br>
    
        <div class="arrow">
            <span class="left" style="margin-right: 100px;"></span>
            <i class="fas fa-asterisk" style="margin-left: -80px;"></i>
            <span class="right" style="margin-right: 140px;"></span>
        </div>

    <div>
        <p style=" font-family: source_sans_problack, sans-serif; color:white;"> At African delights, we understand that food does not just fuel the body - it's an essential part of our cultural identity and a source of comfort, joy, and connection.
        However, we also know that food preferences and expectations can vary widely between different cultures and communities.
        That's why we're dedicated to providing a truly diverse and inclusive dining experience where everyone can find something they love to eat.
         We work closely with local chefs, farmers, and producers to source the freshest, highest-quality ingredients, and we respect and honor different culinary traditions and practices.
        Food should bring people together at African delights, not create barriers or divisions. We want to share our love of food and culture with you and create a warm and welcoming community around the table.</p>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 style="margin-top: -60px; margin-left: -150; font-size: 30;">Our Team</h2>
        <br>
    
        <div class="arrow">
            <span class="left" style="margin-right: 100px;"></span>
            <i class="fas fa-asterisk" style="margin-left: -80px;"></i>
            <span class="right" style="margin-right: 140px;"></span>
        </div>

</header>
<!--End Header-->

<!-- Start Meet the team section -->


<div class="about__section"> 
    <a href="javascript:void(0);" title="Graphic Designer"><div class="about__slot">
        <div class="headshot"  onclick="biograph(this.parentNode);" style="background-image:url('../static/images/Bunmi.jpg');"></div>
      
    
      
      <div class="about__info">
      <h4 class="name">Bunmi Adebanjo</h4>
      <h5 class="title">Graphic Designer</h5>
      </div>
        <div class="bioText">Sofware Engineering Student at ALU<br><br>f g+ tw li</div>
      
      
      </div></a><a href="javascript:void(0);" title="Frontend Developer"><div class="about__slot">
        <div class="headshot"  onclick="biograph(this.parentNode);" style="background-image:url('../static/images/Celestine.jpg');"></div>
      
      <div class="about__info">
      <h4 class="name">Celestine H.</h4>
      <h5 class="title">Frontend Developer</h5>
      </div>
          <div class="bioText">Sofware Engineering Student at ALU<br><br>f g+ tw li</div>
      
      </div></a><a href="javascript:void(0);" title="Backend Developer"><div class="about__slot"><div class="headshot" onclick="biograph(this.parentNode);" style="background-image:url('../static/images/Denis2.jpg');"></div>
      <div class="about__info">
      <h4 class="name">Denis Waweru</h4>
      <h5 class="title">Backend Developer</h5>
      </div>
      <div class="bioText">Sofware Engineering Student at ALU.<br><br>f g+ tw li</div>
      
      </div></a>
      
      </div>

    <div class="about__section"> 
    <a href="javascript:void(0);" title="Frontend Developer"><div class="about__slot">
        <div class="headshot"  onclick="biograph(this.parentNode);" style="background-image:url(../static/images/Praise.jpg);"></div>
      <div class="about__info">
      <h4 class="name">Praise Atadja</h4>
      <h5 class="title">Frontend Developer</h5>
      </div>
        <div class="bioText">Sofware Engineering Student at ALU.<br><br>f g+ tw li</div>
      
     
     </div></a><a href="javascript:void(0);" title="Backend Developer"><div class="about__slot"><div class="headshot" onclick="biograph(this.parentNode);" style="background-image:url('../static/images/Samuel.jpg');"></div>
      <div class="about__info">
      <h4 class="name">Samuel Omondi</h4>
      <h5 class="title">Backend Developer</h5>
      </div>
      <div class="bioText">Sofware Engineering Student at ALU.<br><br>f g+ tw li</div>

   
 
      </div></a>
      
      </div>
<!-- End meet the team section -->


<!--Start Copy-Right-->
  <div class="copyright">
      <svg class="svg-up" width="192" height="61" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve"><path fill="#262526" d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"></path></svg>
      <i class="fas fa-angle-double-up arrow-up"></i>
      <ul class="info">
          <li>&copy; African Delights 2023</li>
          <li>Nairobi, Kenya</li>
          <li>Tel: +254 705 982 470</li>
     </ul>
      <ul class="CTA">
          <li><a href="#">PERMISSIONS AND COPYRIGHT</a></li>
          <li><a href="#">CONTACT THE TEAM</a></li>
      </ul>
  </div>
  <!--End Copy-Right-->

      <script src="../static/about.js"></script>
</body>
</html>